<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<a class="edit_242278" href="/books/242278/edit">Edit</a> |
<a class="back" href="/books">Back</a>

